:root {
  --bg-body: #151515;
  --contact-bg: #242424;
  --accent: #4ee1a0;
  --text1: #ffffff;
  --text2: #d9d9d9;
  --invalid: #ff6f5b;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
}
