@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

:root {
  --black: hsla(0, 0%, 0%, 1);
  --white: hsla(0, 0%, 100%, 1);
  --default-size: 10px;

  --black-and-white-mix-0: color-mix(
    in oklab,
    var(--black) 0%,
    var(--white) 100%
  );
  --black-and-white-mix-1: color-mix(
    in oklab,
    var(--black) 10%,
    var(--white) 90%
  );
  --black-and-white-mix-2: color-mix(
    in oklab,
    var(--black) 20%,
    var(--white) 80%
  );
  --black-and-white-mix-3: color-mix(
    in oklab,
    var(--black) 30%,
    var(--white) 70%
  );
  --black-and-white-mix-4: color-mix(
    in oklab,
    var(--black) 40%,
    var(--white) 60%
  );
  --black-and-white-mix-5: color-mix(
    in oklab,
    var(--black) 50%,
    var(--white) 50%
  );
  --black-and-white-mix-6: color-mix(
    in oklab,
    var(--black) 60%,
    var(--white) 40%
  );
  --black-and-white-mix-7: color-mix(
    in oklab,
    var(--black) 70%,
    var(--white) 30%
  );
  --black-and-white-mix-8: color-mix(
    in oklab,
    var(--black) 80%,
    var(--white) 20%
  );
  --black-and-white-mix-9: color-mix(
    in oklab,
    var(--black) 90%,
    var(--white) 10%
  );

  /* color properties */
  --background-color-0: var(--black-and-white-mix-0);
  --background-color-1: var(--black-and-white-mix-1);
  --background-color-2: var(--black-and-white-mix-2);
  --background-color-3: var(--black-and-white-mix-3);
  --background-color-4: var(--black-and-white-mix-4);
  --background-color-5: var(--black-and-white-mix-5);
  --background-color-6: var(--black-and-white-mix-6);
  --background-color-7: var(--black-and-white-mix-7);
  --background-color-8: var(--black-and-white-mix-8);
  --background-color-9: var(--black-and-white-mix-9);

  /* text properties */
  --text-font: "Urbanist", sans-serif;

  /* spacing properties */
  --spacing: var(--default-size);

  /* border radius properties */
  --border-radius: var(--default-size);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  max-width: 100vw;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--text-font);
}

#desktop-portfolio-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(var(--spacing) * 1) calc(var(--spacing) * 3);
  background-color: var(--background-color-0);
  height: calc(var(--default-size) * 10);
}

.portfolio-navigation__title {
  color: var(--black-and-white-mix-9);
  font-size: calc(var(--spacing) * 3.5);
  font-weight: 700;
}

.portfolio-navigation__title:hover {
  cursor: default;
}

.portfolio-navigation__links {
  display: flex;
  gap: calc(var(--spacing) * 1);
  list-style: none;
}

.portfolio-navigation__link {
  color: var(--black-and-white-mix-9);
  text-decoration: none;
  font-weight: 600;
  font-size: calc(var(--spacing) * 2);
  transition: all 0.3s ease;
}

.portfolio-navigation__link:hover {
  color: var(--black-and-white-mix-4);
  text-decoration: underline;
  text-underline-offset: calc(var(--spacing) * 1);
  text-decoration-color: var(--black-and-white-mix-4);
}

/* hamburger menu */

#mobile-portfolio-navigation {
  display: none;
}

.hamburger-menu {
  display: inline-block;
  position: relative;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(var(--spacing) * 3);
  height: calc(var(--spacing) * 3);
  cursor: pointer;
}

.hamburger-icon.open .hamburger-menu__line:first-child {
  transform: rotate(45deg) translate(5px, 14px);
  width: var(--line-width);
}

.hamburger-icon.open .hamburger-menu__line:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open .hamburger-menu__line:last-child {
  transform: rotate(-45deg) translate(5px, -14px);
  width: var(--line-width);
}

.hamburger-icon .hamburger-menu__line:first-child {
  transform: none;
}

.hamburger-icon .hamburger-menu__line:nth-child(2) {
  opacity: 1;
}

.hamburger-icon .hamburger-menu__line:last-child {
  transform: none;
}

.hamburger-menu__line {
  width: 100%;
  height: 3px;
  background-color: var(--black-and-white-mix-9);
  transition: all 0.3s ease;
}

.hamburger-menu__links {
  position: absolute;
  top: 10%;
  right: 10%;
  background-color: var(--background-color-0);
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
}

.hamburger-menu__links.open {
  max-height: 500px;
}

.section__pic {
  width: 300px;
  height: auto;
}

@media screen and (width <= 800px) {
  #desktop-portfolio-navigation {
    display: none;
  }

  #mobile-portfolio-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calc(var(--spacing) * 1) calc(var(--spacing) * 3);
    background-color: var(--background-color-0);
    height: calc(var(--default-size) * 10);
  }

  .portfolio-navigation__item {
    padding: calc(var(--spacing) * 1) calc(var(--spacing) * 2);
    text-align: center;
    border-bottom: 1px solid var(--black-and-white-mix-3);
    background-color: var(--background-color-1);
  }

  .portfolio-navigation__item:last-child {
    border-bottom: none;
  }

  .portfolio-navigation__link:hover {
    text-decoration: none;
  }
}
